
.notall-container {
  width: 100%;
  padding-top: 120px;
  padding-bottom: 120px;
  gap: 61px;
}

.notall-header {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.notall-heading {
  font-family: "Luckiest Guy";
  font-size: 48px;
  color: #1a1a1a;
}

.notall-subtext {
  font-family: Poppins;
  font-size: 16px;
  color: #1a1a1a;
}

.notall-content {
  width: 100%;
  max-width: 1440px;
  position: relative;
  margin-top: 61px;
}

.notall-list {
  width: 100%;
  border-radius: 24px;
  position: relative;
 
  overflow: visible;   /* 🔥 MOST IMPORTANT */
}

.notall-row {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  padding: 32px 33px;
  background: #faf9f5;
  border-bottom: 1px solid #eee;
  position: relative;
   
}

.notall-row.alt {
  background: #ffffff;
}

.notall-text {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 600;
}

.notall-cross {
  width: 43px;
  height: 43px;
}

/* CENTER CHECK ICON */
.notall-check-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 43px;
  height: 43px;
  z-index: 10;   /* 🔥 sabse upar */
}
.notall-brand-name {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 600;
  max-width: 200px;

  margin-left: auto;   /* 🔥 yeh box ko right push karega */
  text-align: end;
}
/* GREEN BOX */
.notall-center-box {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 322px;
  height: 701px;
  background: #0f4a12;
  border-radius: 24px;
 
  z-index: 5;   /* 🔥 yeh upar hona chahiye */
}

.notall-logo {
  width: 102px;
  height: 122px;
}

/* MOBILE */
@media (max-width: 768px) {
  .notall-container {
    padding: 48px 16px;
    gap: 14px;
  }

  .notall-heading {
    font-size: 34px;
  }

  .notall-subtext {
    font-size: 14px;
  }

  .notall-content {
    flex-direction: column;
    margin-top: 24px;
  }

  .notall-center-box {
    position: absolute;
    width: 93px;
    height: 361px;
    left: 70%;
   
  }

  .notall-row {
    padding: 12px;
  }

  .notall-text {
    font-size: 14px;
    max-width: 192px;
  }

  .notall-check-center {
    width: 28px;
    height: 28px;
    left: 70%;
  }
.notall-logo{
  width: 57px;
height: 68px;


}
  .notall-cross {
    width: 28px;
    height: 28px;
  }
  .notall-brand-name{
    font-size: 15px;
    max-width: 55px;
    line-height: 1;
  }
}