.nofiller-section {
  width: 100%;
  max-width: 1920px;
  height: 440px;
  position: relative;
  margin: 0 auto;

  background: url("/public/Integrity/images/no-filler.jpg") center/cover no-repeat;
  overflow: hidden;
}

/* Overlay */
.nofiller-overlay {
  position: absolute;
  inset: 0;
  background: #00000099;
  z-index: 1;
}

/* Content */
.nofiller-content {
  position: relative;
  z-index: 2;
  max-width: 1200px;
  gap: 12px;
  padding: 0 20px;
}

/* Heading Desktop */
.nofiller-heading {
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-size: 48px;
  line-height: 125%;
  color: #ffffff;
}

/* Subtext Desktop */
.nofiller-subtext {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  color: #ffffff;
  text-align: center;
}

/* ================= MOBILE ================= */

@media (max-width: 768px) {
  .nofiller-section {
    height: auto;
    padding: 40px 0;
  }

  .nofiller-content {
    
    gap: 12px;
  }

  .nofiller-heading {
    font-size: 32px;
    line-height: 125%;
    text-align: center;
  }

  .nofiller-subtext {
    font-size: 14px;
    line-height: 125%;
    text-align: center;
  }
}