@import "tailwindcss";

@layer utilities {
  @keyframes infiniteSlider {
    0% { transform: translate3d(0,0,0); }
    100% { transform: translate3d(-33.333%,0,0); }
  }
  .animate-infinite-slider {
    animation: infiniteSlider 20s linear infinite;
  }
}

.mobile-menu{
  text-align: center;
}


