.marquee-track{
  display:flex;
  align-items:center;
  gap:32px;
  width:max-content;

  animation: marqueeMove 25s linear infinite;
}

.marquee-item{
  display:flex;
  align-items:center;
  gap:25px;
}

.marquee-text{
  font-family:Poppins;
  font-weight:600;
  font-size:20px;
  line-height:150%;
  color:#FFFFFF;
  white-space:nowrap;
}

.paw-icon{
  max-width:27px;
  height:24px;
  object-fit:contain;
}

/* Infinite smooth animation */

@keyframes marqueeMove{
  from{
    transform:translateX(-50%);
  }
  to{
    transform:translateX(0);
  }
}


/* Responsive */

@media (max-width:768px){

  .marquee-text{
    font-size:16px;
  }

  .paw-icon{
    width:20px;
    height:18px;
  }

}