.trusted-container{
padding-top:80px;
padding-bottom:80px;
background:#ffffff;
display:flex;
flex-direction:column;
gap:48px;
}

.trusted-heading{
font-family:"Luckiest Guy";
font-size:48px;
text-align:center;
color:#1A1A1A;
}

/* DESKTOP VIDEO GRID */

.desktop-videos{

gap:16px;
overflow-x:auto;
padding-left:40px;
}

/* video card */

.video-card{
min-width:310px;
height:484px;
border-radius:12px;
overflow:hidden;
background:#f3f3f3;
display:flex;
flex-direction:column;
}

.video-element{
width:100%;
height:433px;
object-fit:cover;
border-top-left-radius:12px;
border-top-right-radius:12px;
}

.video-controls{
height:50px;
display:flex;
justify-content:space-between;
align-items:center;
padding:0 20px;
background:#eaeaea;
}

.video-controls button{
font-size:18px;
cursor:pointer;
color:#0F4A12;
}


/* MOBILE */

.mobile-videos{

gap:12px;
overflow-x:auto;
}

.mobile-card{
min-width:169px;
height:264px;
background:#f3f3f3;
border-radius:10px;
overflow:hidden;
display:flex;
flex-direction:column;
}

.mobile-video{
width:100%;
height:236px;
object-fit:cover;
}

.mobile-controls{
height:28px;
display:flex;
justify-content:space-between;
align-items:center;
padding:0 10px;
background:#eaeaea;
}

.mobile-controls button{
font-size:14px;
color:#0F4A12;
cursor:pointer;
}
.mobile-videos::-webkit-scrollbar{
display:none;
}

.desktop-videos::-webkit-scrollbar{
display:none;
}
/* MOBILE HEADING */

@media(max-width:768px){

.trusted-container{
padding:32px 16px;
gap:24px;
}

.trusted-heading{
font-size:34px;
}

}